name: Daily Today-in-History Post

on:
  schedule:
    # Run every day at 04:55 AM GMT+3 (01:55 UTC)
    - cron: "55 1 * * *"
  workflow_dispatch:

jobs:
  create-post:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt
        working-directory: ./scripts

      - name: Generate daily post
        run: python generate_history.py
        working-directory: ./scripts/posts/
